<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="col-6">
    <h3>Listagem de Produtos</h3>
    <a href="{% url 'produtos_form' %}">Novo Produto</a>
        <ul class="list-group">
            {% for client in clients %}
        <li class="list-group-item">
            <a href="{% url 'produtos_update' produtos.id %}"> {{produtos.nome}} </a>
            <a href="{% url 'produtos_delete' produtos.id %}" class="trash-item"> Deletar </a>
        </li>
            {% endfor %}

</ul>
</body>
</html>