<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h3>Novo Produto</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Salvar</button>
</form>
</body>
</html>