<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Tem certeza que deseja deletar? {{ produtos.nome }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
</body>
</html>